
@{
    ViewBag.Title = "ContactUs";
}

<h2>ContactUs</h2>

<div class="row">
    <h3>
        <p>
            Priti Wankhede</br>
            Mobile No. 9923106644</br>
            Nagpur (Maharashtra)</br>
            India.
        </p>
    </h3>
</div>

